@font-face {
	font-family: 'Regular'; 
	src: url(../fonts/static/RedHatText-Regular.ttf); 
}

@font-face {
	font-family: 'Bold'; 
	src: url(../fonts/static/RedHatText-Bold.ttf); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  background-color: hsl(20, 50%, 98%);
}

.title {
  margin-bottom: 20px;
  font-family: 'Bold';
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 20px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.product-img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 30px;
}

.cart {
  height: 24%;
  padding: 25px 20px;
  border-radius: 15px;
  background-color: white;
}

.cart-title {
  color: hsl(14, 86%, 42%);
}

.empty-cart-img {
  display: block;
  height: 67%;
  background: url(../public/images/illustration-empty-cart.svg) no-repeat center;
}

.cart-text {
  font-family: 'Bold';
  color: hsl(7, 20%, 60%);
  text-align: center;
}